@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,900&display=swap');

:root {
    --mainbgcolor: #FDFBEC;
    --logo: #82AAE3;
    --green: #E1EEDD;
    --greentext: #153A1E;
    --orange: #82AAE3;
}

html, body {
    margin: 0 auto;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather', serif;
    background-color: var(--mainbgcolor);
    box-sizing: border-box;

}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--mainbgcolor);
    color: var(--logo);
    
    padding: 0px 20px;
    font-size: small;
}

#logo {
    font-weight: 900;
}

header a, li {
    text-decoration: none;
    list-style: none;
    color: var(--orange);
    font-weight: 700;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px
  }

  main {
      animation: transitionIn 0.75s;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
.imgslider {
   display: flex; 
   flex-direction: column;
}

.controls {
    display: flex;
    text-align: center;
    padding: 10px 50px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--orange);
}

.controls img {
    width: 60%;
}

.icon {
    margin: 0;
    padding: 0;
}

.textcontainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 25px;
}

#iconName p {
    font-weight: 700;
    font-size: 2rem;
    margin: 0;
}

#iconExample p {
    font-size: small;
    font-style: italic;
    text-align: left;
}

#iconDescription {
    text-align: justify;
}

footer {
    background-color: var(--orange);
    color: var(--mainbgcolor);
    text-align: center;
    margin-top: auto;
}

a {
    text-decoration: none;
    color: var(--orange);
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotatey(-10deg);
    }
    to {
        opacity: 1;
        transform: rotatey(0);
    }
}

@media (min-width:1281px) {
    header {
        font-size: large;
        padding: 0 5px;
        justify-content: space-around;
    }
    footer {
        width: 100vw;
    }
    main {
        padding: 20px 300px;
    }
    #iconName p {
        font-size: 3rem;
    }
    .controls {
        font-size: 3rem;
    }
}